body{
    margin:0;
    padding: 0;
    text-align: center;
}
#task,#priority,#btn{
    height:30px;
    width:200px;
    box-sizing: border-box;
}
table{
    margin: 50px auto;
    width:700px;
    border:2px solid grey;
    border-collapse: collapse;
}
th,td{
    border:1px solid grey;
}
.hidden{
    margin:auto;
    display:none;
}

#delSelBtn{
    height:30px;
    width:200px;
    box-sizing: border-box;
    margin:auto;
    color:white;
    font-size: large;
    background-color: rgb(151, 26, 26);
    border: none;

}